Django==4.2
djangorestframework
psycopg2-binary
python-decouple
django-environ
django-cors-headers
django-modeltranslation
pillow
django-ckeditor>=6.0.0
gTTS
gunicorn
django-debug-toolbar
agora-token-builder
dj-database-url
whitenoise